<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- -->
  <!-- style에 적용하면 전체에 적용됨 -->
  <style>
    p {
    font-size: 16px; /* 글자 크기 */
    line-height: 25px; /* 줄 간격 */
    }
  </style>
</head>
<body>
    <h2>Go Language</h2>
    <!-- strong: 강조, b: 또한 강조 -->
    <p><strong>Rust</strong>, C, <b>Java</b>, Python</p>
    <!-- em: 이탤릭체 강조, i: 이탤릭체 -->
    <p><em>Lisp</em>, Fortran, <i>JavaScript</i>, asm<br>
       FPGA Verilog</p>
</body>
</html>