<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- -->
    <h1>Frontend/Backend</h1>
    <p>웹 개발에는 Frontend/Backend 개발이 있고</p>
    <p>두 개를 모두 하는 경우 Full Stack 개발자라고 부릅니다.</p>
    <p>Full Stack 개발자의 필수 덕목은 Spring Boot, JPA + Alpha(Kafaka, etc...)</p>
    <p>그리고 HTML5/CSS3, JavaScript, Vue/React/Svelte, Typescript등 입니다. </p>

<ul> <!-- ul은 그냥 순서없이 나오게 하는 명령어 -->
     <!-- <ul> 태그는 순서없이 모양으로 (unordered list) 목록을 만듭니다. -->
  <li>HTML5/CSS3</li>  <!-- li는  list의 약자로 목록을 만드는 태그 -->
  <li>JavaScript</li>  <!-- <li></li> 태그는 list의 약자로, 목록을 만드는 태그입니다.
                            이 태그는 단독으로 쓰이지 않으며 <ul></li> 혹은 <ol></ol> 태그 내부에 들어갑니다. -->
  <li>Vue</li>
  <li>Svelte</li>
  test<br>   <!-- <br> 태그는 텍스트 내의 줄바꿈(line-break)을 정의 -->
  hi<br>
</ul>

<ol> <!-- ol은 순서 번호가 나오는 명령어 1. 2. 3.  이런식 -->
     <!--<ol> 태그는 번호를 메겨 순서가 있는 (ordered list) 목록을 만듭니다 -->
  <li>Golang</li>
  <li>C#</li>
  <li>C++</li>
  <li>Rust</li>
  <li>Python</li>
  <li>Java</li>
</ol>

</body>
</html>