<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!-- -->
    <!-- mark: 형광펜 기능 -->
    <h2>Python Language: <mark style="background-color: orange;">, <span style="color: white;"> "TensorFlow" ====>"Keras"</span></mark></h2>
    <!-- span: 줄바꿈 없이 영역을 묶음, style="color: x" 특정 색상으로 만듬 -->
    <p>Machine Learning, <span style="color: blue;">,Deep Learning,
    SLAM, Signal Processing</span>, Statistics</p>
    <!-- 배경색을 설정하고 싶다면 background-color: x를 사용한다 -->
    <h3>Test <mark style="background-color: red;">Driven Development</mark> </h3>
</body>
</html>