<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      table, th, td {
        broder: 1px solid #ccccccc;
        }
        td {
        padding: 5px;
        }
    </style>
</head>
<body>
  <table>
    <tr>
      <th>[0][0]</th> <!-- <th> 요소 내의 텍스트는 기본적으로 굵은 폰트로 중앙 정렬되며 -->
      <th>[0][1]</th>
      <td>[0][2]</td> <!-- <td> 요소 내의 텍스트는 일반적인 두께의 폰트로 좌측 정렬됩니다. -->
    </tr>
    <tr>
      <th>[1][0]</th>
      <th>[1][1]</th>
      <th>[1][2]</th>
    </tr>
  </table>

</body>
</html>